.logo{
    float: left;
    text-align: left;
    background-color:slategray;
    color: yellow;
    width: 30%;
    height: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    background-color: yellow;
    color:dimgray;
    width: 70%;
    height: 30%;
    float: right;
}

.menu li{
    display: inline;
    text-decoration: none;
    padding: 6%;
}

body{
    background-image: url(https://i.pinimg.com/736x/cf/9c/84/cf9c842dcee2b59f4e4f16dded5c4d9d.jpg)
}