body{
    background-image:url(http://i.mlcdn.com.br/portaldalu/fotosconteudo/12123.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;

}

.img{
    
}

.logo{
    float: left;
    text-align: left;
    background-color:white;
    color:green;
    width: 30%;
    height: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu{
    background-color: green;
    color:white;
    width: 70%;
    height: 30%;
    float: right;
}

.menu li{
display: inline;
text-decoration: none;
padding: 6%;
color: white;
}
  
.content{ 
    text-shadow: 0.1em 0.1em 0.2em white;
    font-size: 120%;
    color: darkblue;
    
}

.contentp{
    font-size: 110%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white; text-shadow: black 0.1em 0.1em 0.2em

}